<ion-view view-title="Home" name="dashboard-view">
    <ion-nav-buttons side="right">
        <button class="button icon-left ion-log-out button-calm" ng-click="logout()">Logout</button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div class="item item-avatar">
            <img src="img/unlocked.jpg">
            <h2>Porta da Frente</h2>
            <p><strong>IP: 127.0.0.1</strong></p>
            <p>Rua João das Couves 388, Rio Grande/RS</p>
        </div>
        <div class="item item-avatar">
            <img src="img/locked.jpg">
            <h2>Porta dos Fundos</h2>
            <p><strong>IP: 127.0.0.1</strong></p>
            <p>Rua João das Couves 388, Rio Grande/RS</p>
        </div>
        <div class="item item-avatar">
            <img src="img/locked.jpg">
            <h2>Porta da Casa de Praia</h2>
            <p><strong>IP: 127.0.0.1</strong></p>
            <p>Rua João das Neves 103, Cassino/RS</p>
        </div>
        <div class="item item-avatar">
            <img src="img/unlocked.jpg">
            <h2>Porta da Frente</h2>
            <p><strong>IP: 127.0.0.1</strong></p>
            <p>Rua Fulano de Tal 266, Pelotas/RS</p>
        </div>
    </ion-content>
</ion-view>
