<ion-view view-title="Entrar no Doorlock" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Usuário" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-balanced" ng-click="login(data)">Entrar</button>
    </ion-content>
</ion-view>
