<ion-view>
    <ion-tabs class="tabs-icon-top tabs-calm">

        <ion-tab title="Home" icon="ion-home" href="#/main/dash">
            <ion-nav-view name="dash-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Opções" icon="ion-settings" href="#/main/settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
